@import '../../assets/sass/styles';

:host {
    .carousel-content {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        height: em(200);
        @include tablet-port {
            height: em(350);
        }

        @include wide {
            height: em(600);
        }

        @include very-wide {
            height: em(740);
        }
    }
}