@import '../../assets/sass/styles';

:host {
    .dashboard {
        max-width:75em; 
        margin: 0 5em;
        height: em(200);
        @include tablet-port {
            height: em(350);
        }

        @include wide {
            height: em(600);
        }

        @include very-wide {
            height: em(740);
        }
    }
}